@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
body 
{
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    background-color:rgb(211, 206, 206);
    margin:0;
}
header 
{
    display: flex;
    background-color:rgb(58, 57, 57);
    padding: 1rem;
    border-bottom:1px solid #CCC;
}
h1 
{
    text-align:center;
}
header .logo 
{
    display: flex;    
    flex: 1;
    
    align-items:center;
    justify-content: center;

    font-size: 2rem;
    color: #FFF;
    text-align:center;
}
header .logo span {
    color:rgb(92, 5, 143)!important;
    font-weight: bold;
}
h2{
    text-align: center;
    font-size: 1.1rem;
    color:#0000FF;
}
a 
{
    color:#000;
    text-decoration:none;
}
a:hover 
{
    text-decoration:underline;
}
ul, li 
{
    margin:0;
    padding:0;
    list-style:none;
}
.menu 
{
    display:flex;
    flex: 2;
    justify-content:center;
    align-items:center;
}
li 
{
    padding:10px;
}
li a{
    color:#FFF;
    font-size: 1.1rem;
}
.userlog{
    display: flex;
    align-items:center;
    justify-content: center;
    flex: 1;
}
.userlog .img-profile{
    border-radius: 50%;
    max-width: 100%;
    max-height: 100px;
}
.userlog .data{
    flex-direction: column;
    text-align: center;
    color: #FFF;
    text-decoration: underline;
    text-transform: uppercase;
}
.userlog .data a.logout{
    padding: 5px 2px;
    color:rgb(211, 206, 206);
}
.warning 
{
    border:2px solid #5555FF;
    background-color:#0000FF;
    color:#FFF;
    padding:10px 20px;
    border-radius:5px;
}

.container{
    margin-left: 4rem;
    padding: 1rem 2rem;

    align-items:center;
    justify-content: center;
}
.post 
{
    width:300px;
    min-height: 400px;

    display:inline-block;
    box-shadow:0px 0px 5px #999;
    
    padding:10px;
    margin:20px;
    
    border-radius:5px;
    overflow:hidden;
}
.post img 
{
    max-width:100%;
}
form 
{
    margin:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label 
{
    display:inline-block;
    margin:5px 0;
}
input, textarea 
{
    display:block;
    padding:10px 15px;
    border:2px solid #CCC;
    font-size:16px;
    outline:0;
    resize:none;
    margin-top:10px;
    width:400px;
    transition: all .2s ease-in-out;
}
textarea 
{
    height:200px;
}
input[type=submit]:hover 
{
    background-color:blue;
    cursor:pointer;
}
.tags 
{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    margin-top:10px;
}
.tags .tag 
{
    margin: 5px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #999;
}
.tag.selected a 
{
    color:#FF0000;
}

article {
    padding: 50px;
}
.subtitle {
    font-size: 2rem;
    color: rgb(0, 214, 54);
}